/* Базові стилі для тексту */
body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #626262;
}
.wrapper {
  width: 906px;
  margin: 0 auto;
}
/* Шапка сайту */
.header {
  height: 182px;
  padding-top: 71px;
}
.header-nav {
  margin: 0 auto;
  width: 555px;
}
.header-nav-list {
  list-style: none;
}
.header-nav-list > li {
  display: inline-block;
}
.header-nav-list > li:not(:last-child) {
  margin-right: 100px;
}
/* Видалення зайвих відступів між елементами inline-block */
.header-nav-list > li:not(:first-child) {
  margin-left: -4px;
}
.header-nav-list > li > a {
  color: #7d7d7d;
  text-decoration: none;
}
.header-nav-list > li > a:hover {
  color: #03a9f4;
}
/* Основна части сайту */
.card {
  display: inline-block;
  width: 420px;
  margin-right: 65px;
  margin-bottom: 130px;
}
.card:nth-last-child(-n + 2) {
  margin-bottom: 0;
}
.card:nth-child(2n) {
  margin-left: -4px;
  margin-right: 0;
}
.card-category {
  font-family: "Ubuntu";
  font-weight: 300;
  line-height: 16px;
  color: #b4ad9e;
}

.card-img {
  margin-bottom: 32px;
}
.card-category {
  display: block;
  margin-bottom: 32px;
}
.card-title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 40px;
}
.main-button {
  display: block;
  margin: 90px auto 0;
  height: 60px;
  width: 165px;
  background-color: #fff;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #626262;
}
