/* Шапка сайту */
.header {
  padding: 40px 0;
}
.header__container {
  padding: 0 20px;
}

// Меню навігації
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.nav__link {
  color: $colorTextMenu;
  &:hover {
    color: $colorTextHover;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 55px 0;
  }
  .header__container {
    padding: 0;
  }
  .header__nav {
    max-width: 555px;
    margin: 0 auto;
  }
  .nav__list {
    justify-content: center;
    gap: 50px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 70px 0;
  }
  .nav__list {
    gap: 100px;
  }
}
