.wrapper {
  width: 906px;
  margin: 0 auto;
}

/* Основна части сайту */
.card-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 65px;
  row-gap: 130px;
}
.card {
  flex-basis: 420px;
}

.card-category {
  font-family: "Ubuntu";
  font-weight: 300;
  line-height: 16px;
  color: $colorTextCategory;
}

.card-img {
  margin-bottom: 32px;
}
.card-category {
  display: block;
  margin-bottom: 32px;
}
.card-title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 40px;
}

/* Стилі для кнопки */
.main-button {
  display: block;
  margin: 90px auto 0;
  height: 60px;
  width: 165px;
  background-color: #ffffff;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $colorTextBase;
}
