/* Базові стилі для тексту */
body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: $colorTextBase;
}
.container {
  min-width: 320px;
  max-width: 1200px;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}
